---
import { Header } from "@/components/header";
import {
	About,
	ActApproach,
	Contact,
	Faq,
	Fees,
	Footer,
	Hero,
	HowItWorks,
	Problem,
	Testimonials,
} from "@/components/sections";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header client:load />
	<main>
		<Hero client:load />
		<Problem client:visible />
		<About client:visible />
		<ActApproach client:visible />
		<HowItWorks client:visible />
		<Fees client:visible />
		<Testimonials client:visible />
		<Faq client:visible />
		<Contact client:visible />
	</main>
	<Footer client:visible />
</Layout>
